ul {
    &::-webkit-scrollbar-track {
        background: none;
    }

    &::-webkit-scrollbar-thumb {
        background: #0000003f;
        border-radius: 3px;
    }

    &::-webkit-scrollbar {
        width: 7px;
    }

    li {
        overflow-wrap: break-word;
    }
    li:hover svg {
        opacity: 1;
    }
}
