html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  transition: all 0.3s ease;
}

html, body, #__next {
  min-height: 100vh;
  display: flex;
  flex: 1;
}
#__next {
  flex: 1;
}
#__next > * {
  flex: 1;
}

@tailwind base;
@tailwind components;
@tailwind utilities;