main {
    background: url("../public/hogwarts.jpg") center center;
    background-size: cover;
}

ul::-webkit-scrollbar-track {
    background: none;
}
ul::-webkit-scrollbar-thumb {
    background: #0000003f;
    border-radius: 3px;
}
ul::-webkit-scrollbar {
    width: 7px;
}

ul li {
    overflow-wrap: break-word;
}

li:hover svg {
    opacity: 1;
}
